<div style="width: 80%; height: 60px">
  <mat-grid-list cols="8" rowHeight="60">
    <mat-grid-tile
      >1
      <!-- <mat-grid-tile-header>123</mat-grid-tile-header>
      <mat-grid-tile-footer>dsadas</mat-grid-tile-footer> -->
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
    <mat-grid-tile>5</mat-grid-tile>
    <mat-grid-tile>6</mat-grid-tile>
    <mat-grid-tile>7</mat-grid-tile>
    <mat-grid-tile>8</mat-grid-tile>
  </mat-grid-list>
</div>
