<!-- <div [ngClass]="{'show-less': showShortDesciption}" style="padding: 15px;">
    <span>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa<span [ngClass]="showShortDesciption ? 'd-inline' : 'd-none'">...</span>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span>
</div>
<div (click)="alterDescriptionText()">
    {{ showShortDesciption ? 'read more': 'read less' }}
</div> -->

<div>
	<span class="short-text">At the end of the day, you are solely responsible for your success
	 and your failure. And the sooner you realize that, you accept that, and integr</span>
	<span class="long-text">ate that into your work ethic, you will start being successful. As 
	long as you blame others for the reason you aren't where you want to be, you will 
	always be a failure.</span>
	<span class="text-dots">....</span>
	<span class="show-more-button" data-more="0">Read More</span>
</div>

<div>
	<span class="short-text">At the end of the day, you are solely responsible for your success
	 and your failure. And the sooner you realize that, you accept that, and integr</span>
	<span class="long-text">ate that into your work ethic, you will start being successful. As 
	long as you blame others for the reason you aren't where you want to be, you will 
	always be a failure.</span>
	<span class="text-dots">....</span>
	<span class="show-more-button" data-more="0">Read More</span>
</div>